body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
nav {
    overflow: hidden;
    margin-bottom: 30px;
    float: left;
    margin-right: 15px;
}
.textarea {
    max-width: 280px;
    float:right
}
.navlink {
    float: left;
    margin-right: 15px;
}
.dellink{
    float:right;
    color:red;
}
.dellButton {
    margin:0 auto;
    display:block;
    color:red;
}